*{
  color:#008080;
  font-weight: bold;
}
.container{
  background-image: url("/src/img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:auto;
  height:auto;
}
.bx-principal{
  display:flex;
  justify-content:space-around;
  width:auto;
  padding-top: 10%;
}
.frm-calc{
  display:flex;
  width:300px;
  flex-direction:column;
  background-color: aliceblue;
}
input{
  border-style: none;
  border-bottom: 1px solid #008080;
  height:30px;
  margin: 5px;
}
.btn{
  height:50px;
  margin:5px;
  font-size: 16px;
  background-color:floralwhite;
  border-style: none;
  border-radius: 5px;
}
.btn:hover{
  box-shadow: 1px 1px 3px #008080;
  cursor:pointer;
}
.bx-explicacao{
  text-align: center;
}