*{
  color:#008080;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body{
  background-color:rgb(193, 245, 247);
}
.container{
  background-image: url("/src/img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100vw;
  height:100vh;
}
.bx-principal{
  display:flex;
  justify-content:space-around;
  width:100vw;
  padding-top: 30px;
}
.frm-calc{
  display:flex;
  width:270px;
  flex-direction:column;
  background-color: rgba(240, 248, 255,0.6);
  padding:15px;
  border-radius: 5px;
  margin:10px;
}
.lbl-legenda{
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 400px;
}
.lbl-titulo{
  width:100vw;
  text-align: center;
  font-size:30px;
  text-shadow: 2px 2px 2px white;
}
input{
  border-style: none;
  border-bottom: 1px solid #008080;
  height:30px;
  margin: 5px;
}
.btn{
  height:50px;
  margin:5px;
  font-size: 16px;
  background-color:floralwhite;
  border-style: none;
  border-radius: 5px;
}
.btn:hover{
  box-shadow: 1px 1px 3px #008080;
  cursor:pointer;
}
.bx-resultado{
  width:270px;
  text-align:center;
  background-color: rgba(240, 248, 255,0.6);
  padding:15px;
  margin:10px;
  border-radius: 5px;
}
.bx-explicacao{
  text-align: center;
}
.txt-explicacao{
  font-weight: normal;
  font-size: 12px;
}
.bx-aux{
  display: flex;
  height: auto;
}
.bx-ajuda{
  padding: 15px;
  background-color: rgba(240, 248, 255,0.6);
  margin:20px;
}
.lbl-resultado{
  font-size: 25px;
}
.footer{
  position: fixed;
  bottom:0;
  background-color: #008080;
  color:white;
  width:100vw;
  text-align: center;
}
@media only screen  and (max-width:768px)
{
  .bx-principal{
    display: block;
    min-width: 270px;
    justify-content: center;
  }
  .bx-aux{
    display: block;  
    text-align: center;
    height: auto;
  }
  .container{
    height:100%;
  }
  .lbl-titulo{
    height: auto;
  }
  .lbl-legenda{
    writing-mode: horizontal-tb;
    text-orientation: none;
  }
  .frm-calc{
    margin-left: auto;
    margin-right: auto;
  }
  .bx-resultado{
    margin-left: auto;
    margin-right: auto;
  }

}